<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base_bootstrap.html" %}
    {% block content%}
        <h1>Pick a Game</h1>
        <ul>
            {% for game in games%}
                <li><a href="{% url 'main:team_set' game.id%}">{{game}}</a></li>
            {% endfor %}
        </ul>
        <button onclick="window.location='{% url 'main:home_page' %}'; return false;">Go back</button>
    {% endblock %}
</body>
</html>